<!--conf
<sample>
              <product version="1.0" edition="std"/>
                     <modifications>
                            <modified date="070101"/>
                     </modifications>
               </sample>
 --> 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
	<title>Vertical menu</title>
	<link rel="STYLESHEET" type="text/css" href="../../codebase/dhtmlxmenu.css">
	
	<script language="JavaScript" src="../../codebase/dhtmlxprotobar.js"></script>
	<script language="JavaScript" src="../../codebase/dhtmlxmenubar.js"></script>
	<script language="JavaScript" src="../../codebase/dhtmlxcommon.js"></script>
</head>

<body>
<link rel='STYLESHEET' type='text/css' href='../common/style.css'>
<table cellspacing="0" cellpadding="0" class="sample_header" border="0">
	<tr valign="middle">
		<!-- COMPONENT ICON -->
		<td width="40" align="center"><img src="../common/dhtmlxmenu_icon.gif" border="0"></td>
		<!-- COMPONENT NAME -->
		<td width="120" align="left">Sample: dhtmlxMenu</td>
		<!-- SAMPLE TITLE -->
		<td width="0" align="left"><b>Vertical menu</b></td>
		<!-- LINK TO COMPONENT PAGE -->
		<td width="0" align="right"><a href="http://www.dhtmlx.com/docs/products/dhtmlxMenu/index.shtml">dhtmlxMenu main page</a></td>
		<!-- CLOSE BUTTON -->
		<td width="50"><div class="sample_close"><a href="javascript:void(0);" onclick="self.close();"><img src="../common/sample_close.gif" width="14" height="14" border="0" alt="X"></a></div></td>
	</tr>
</table>

<p>You can create vertical menu using "popup" mode</p>

<div id="bus2style" style="width:100;"></div>

<script>
	aMenuBar5=new dhtmlXMenuBarObject(document.getElementById('bus2style'),'100%',23,"",true);
	aMenuBar5.setGfxPath("../../codebase/imgs/");
	aMenuBar5.loadXML("_menu_bus2.xml")
	aMenuBar5.showBar();
</script>
<div class='sample_code'><div class="hl-main"><pre><span class="hl-code"> 
    </span><span class="hl-identifier">XML</span><span class="hl-code">
    ----------------------------------------------------------
    &lt;</span><span class="hl-identifier">menu</span><span class="hl-code"> </span><span class="hl-identifier">mode</span><span class="hl-code">=</span><span class="hl-quotes">&quot;</span><span class="hl-string">popup</span><span class="hl-quotes">&quot;</span><span class="hl-code"> </span><span class="hl-identifier">maxItems</span><span class="hl-code">=</span><span class="hl-quotes">&quot;</span><span class="hl-string">12</span><span class="hl-quotes">&quot;</span><span class="hl-code"> </span><span class="hl-identifier">name</span><span class="hl-code">=</span><span class="hl-quotes">&quot;</span><span class="hl-quotes">&quot;</span><span class="hl-code"> </span><span class="hl-identifier">mixedImages</span><span class="hl-code">=</span><span class="hl-quotes">&quot;</span><span class="hl-string">yes</span><span class="hl-quotes">&quot;</span><span class="hl-code">&gt;
        &lt;</span><span class="hl-identifier">MenuItem</span><span class="hl-code"> </span><span class="hl-identifier">name</span><span class="hl-code">=</span><span class="hl-quotes">&quot;</span><span class="hl-string">Company</span><span class="hl-quotes">&quot;</span><span class="hl-code"> </span><span class="hl-identifier">id</span><span class="hl-code">=</span><span class="hl-quotes">&quot;</span><span class="hl-string">com</span><span class="hl-quotes">&quot;</span><span class="hl-code">  </span><span class="hl-identifier">width</span><span class="hl-code">=</span><span class="hl-quotes">&quot;</span><span class="hl-string">30px</span><span class="hl-quotes">&quot;</span><span class="hl-code">  </span><span class="hl-identifier">withoutImages</span><span class="hl-code">=</span><span class="hl-quotes">&quot;</span><span class="hl-string">yes</span><span class="hl-quotes">&quot;</span><span class="hl-code">&gt;
        ...
        &lt;/</span><span class="hl-identifier">MenuItem</span><span class="hl-code">&gt;
        ...
    &lt;/</span><span class="hl-identifier">menu</span><span class="hl-code">&gt;</span></pre></div></div>

<!-- FOOTER -->
<table callspacing="0" cellpadding="0" border="0" class="sample_footer"><tr><td style="padding-left: 8px;">&copy; <a href="http://www.dhtmlx.com">DHTMLX LTD</a>. All rights reserved</td></tr></table>
<!-- FOOTER -->

</body>
</html>
